* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #0A4A6A;
    --nav-link-color: #AFCADD;
    --white: #ffff;
    --soft-pink: #BD8485;
    --robin-headline: ##544545;
    --robin-text: #E5E0E0;
    --form-titles: #CA7A77;
    --headline-font: 'Dancing Script', cursive;
    --paragraphs: 'Roboto', sans-serif;
}



/* nav ******************************/

main {
    max-width: 1400px;
    margin-inline: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background: var(--dark-blue);
}


.nav__link {
    text-decoration: none;
    font-family: var(--headline-font);
    font-size: 1.5rem;
    color: var(--white);
}

.logo {
    text-decoration: none;
    font-family: var(--headline-font);
    font-size: 1.5rem;
    color: var(--white);
    font-size: 2rem;
}

.nav__link:nth-of-type(1) {
    margin-right: 40px;
}

.nav__link:nth-of-type(2) {
    margin-right: 40px;
}

.nav__link:hover,
.logo:hover {
    color: var(--form-titles);
    transition: 0.2s ease-in-out;
}

.hamburger__menu {
    display: none;
}

/* hero **************************/
.hero {
    height: 700px;
    background-image: url("/assets/oceanrocls.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(62, 58, 68, 0.281);


}

.hero__text--container {
    max-width: 600px;
    text-align: center;
    padding-top: 120px;
    margin-left: 20px;


}

.hero__title {
    font-size: calc(1.3rem + 2vw);
    font-family: var(--headline-font);
    color: var(--white);
    margin-bottom: 10px;
}

.hero__description {
    font-size: calc(.8rem + 1vw);
    line-height: 1.6;
    font-family: var(--paragraphs);
    color: rgb(75, 64, 64);
}

/* Robin About **************/
.robin__hero {

    padding: 100px 50px;
    background-color: var(--soft-pink);
    ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}


.robin__image {
    background-image: url("/assets/robinbest.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.robin__text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 500px;
}

.about {
    font-family: var(--headline-font);
    font-size: 3rem;
    margin-bottom: 10px;
    color: var(--robin-headline);
}

.background {
    font-size: 2rem;
    font-family: var(--headline-font);
    font-weight: 500;
    margin-bottom: 30px;
    color: var(--robin-headline);
}

.robin__desc {
    line-height: 1.6;
    font-size: 1.3rem;
    color: #ffffff;
    font-family: var(--paragraphs)
}

/* CTA ***************************/
.cta {

    background-image: url("/assets/mountains.jfif");
    background-size: cover;
    background-position: center;
    ;
    box-shadow: inset 0 0 0 1000px rgba(62, 58, 68, 0.411);
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta__text--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.cta__headline {
    font-family: var(--headline-font);
    margin-bottom: 20px;
    font-size: calc(1.3rem + 2vw);
    color: rgb(117, 101, 101);
}

.cta__description {
    font-family: var(--paragraphs);
    line-height: 1.6;
    color: var(--robin-text);
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.3rem;
}

.cta__button {
    text-decoration: none;
    padding: 15px 20px;
    color: var(--robin-text);
    background: rgba(70, 64, 64, 0.575);
    border-radius: 10px;
    border: 2px solid var(--soft-pink)
}

.cta__button:hover {
    border: 2px solid var(--nav-link-color);
    transition: 0.2s ease;
    color: rgb(218, 172, 180);
    background: rgba(0, 0, 0, 0.473);
}

/* Footer *********************/
.footer {
    background-color: var(--dark-blue);
    padding: 80px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__content--container {
    width: 100%;
    position: relative;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.welcome {
    margin-bottom: 20px;
    font-family: var(--headline-font);
    font-size: calc(1.2rem + 1.5vw);
    color: var(--robin-text);

}

.footer__title {
    font-family: var(--headline-font);
    font-size: calc(1.9rem + 1.5vw);
    color: var(--robin-text)
}

.phone,
.email {
    font-family: var(--paragraphs);
    color: var(--robin-text);
    font-size: 1.5rem;
}

.diversity {
    max-width: 300px;
    height: 50px;


}

.copyright {
    position: absolute;
    bottom: -50px;
    left: -150px;
    ;
    color: var(--robin-text);
}



/* Responsive nav ********************/
@media(max-width: 730px) {
    .nav__right {
        display: none;
    }

    nav {
        position: relative;
    }

    .hamburger__menu {
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        width: 50px;
        height: 50px;
        background: transparent;
        padding: 5px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 50;
    }

    .nav__right {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 40vh;
        background-color: var(--dark-blue);
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transform: translateY(-150%);
        transition: 0.3s ease;
        padding: 50px 0 50px 80px;
    }

    .nav__right.show {
        transform: translateY(-0%);
    }

    .nav__link:nth-of-type(1) {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .nav__link:nth-of-type(2) {
        margin-right: 0px;
        margin-bottom: 20px;
    }


    .line {
        width: 90%;
        height: 2px;
        background: var(--white);
        margin-bottom: 5px;
    }


    .hamburger__menu.clicked .line-1 {

        transform: rotate(-45deg) translate(-5px, 11px);
        transition: 0.2s ease;
    }

    .hamburger__menu.clicked .line-2 {
        opacity: 0;
    }

    .hamburger__menu.clicked .line-3 {

        transform: rotate(45deg) translate(3px, -5px);
        transition: 0.2s ease;
    }
}

/* Responsive Hero *******************/

@media(max-width: 730px) {
    .hero {
        background-position: 25% 15%;
    }

    .hero__text--container {
        padding-top: 40px;
        ;
        margin-left: 0;
    }
}

@media(max-width: 600px) {
    .hero {
        resize: both;
        height: 650px;
        background-position: right;
    }


}

/* Responsive robin hero ***************/
@media (max-width: 833px) {
    .robin__hero {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        padding: 100px 30px;
        ;

    }

    .robin__image {
        width: 300px;
        height: 400px;
    }

    .robin__text {
        text-align: center;
        padding: 0px;
    }


}

@media(max-width: 600px) {
    .cta {
        height: 500px;
        padding: 100px 30px;
    }

    .robin__desc {
        font-size: 1rem;
        font-weight: 200;
    }


    .cta__description {
        font-size: 1rem;
    }
}

/* Responsive Footer *****************/

@media (max-width: 930px) {

    .footer {
        padding: 70px 30px;
        width: 100%;
    }

    .footer__top {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .email,
    .footer__title {
        margin-bottom: 20px;
    }


    .copyright {
        left: -10px;
    }
}